* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.outerBody {
  display: flex;
  height: auto;
  flex-direction: column;
}

.context1 {
  background-color: white;
  color: white;
  height: 114vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.head {
  background-color: transparent;
  /* background-color: aqua; */
  color: black;
  width: 100vw;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: 90px;
  position: relative;
  z-index: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  top: 10px;
  position: relative;
  /* background-color: red; */
  width: 100%;
  height: 150px;
  left: 3.5%;
}

.logo > p {
  font-size: 45px;
  position: relative;
  top: 20px;
  font-weight: 600;
  line-height: 22px;
  left: 0px;
  color: rgb(255, 0, 0);
  text-shadow: 1px 1px black;
}

.logo_lower {
  position: relative;
  top: 15px;
}

.logoimage {
  background-color: burlywood;
  height: 45px;
  width: 45px;
  position: relative;
  left: 45px;
  top: 10px;
}

.left {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 57%;
  top: 40%;
  /* background-color: blue; */
}

.part {
  /* top: 1px; */
  position: absolute;
  /* background-color: red; */
  color: black;
  width: 100%;
  /* height: 100%; */
}

.part p {
  position: relative;
  top: 50px;
  font-size: 1.3vw;
  text-align: justify;
  padding: 50px;
}

.sign {
  width: 50%;
  height: 50%;
  position: absolute;
  z-index: 500;
  left: 40%;
  top: 70%;
  /* background-color: red; */
}

.social {
  color: red;
  width: 100%;
  /* background-color: rgb(103, 205, 24); */
  position: absolute;
  height: 200px;
  z-index: 101;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* top: 68%; */
  left: 0px;
}

.fb,
.twitter,
.git {
  margin: 5px;
  cursor: pointer;
}

.fb:hover,
.twitter:hover,
.git:hover {
  color: black;
}

.fb {
  font-size: 40px;
}

.git {
  font-size: 40px;
}

.twitter {
  position: relative;
  top: 1px;
  font-size: 47px;
}

.number {
  position: absolute;
  /* background-color: black; */
  width: 250px;
  height: 200px;
  z-index: 0;
  color: transparent;
  font-family: "Times New Roman", Times, serif;
  font-size: 200px;
  -webkit-text-stroke: 2px red;
  left: 740px;
  top: 420px;
}

.count1 {
  font-size: 20px;
  color: black;
  -webkit-text-stroke: 0px black;
  position: relative;
  right: 5px;
  font-weight: 600;
}

.right {
  background-color: white;
  color: black;
  /* background-color: black; */
  width: 50%;
  height: 110%;
  top: -120px;
  position: absolute;
  right: -15%;
  padding: 20px;
  transform: skew(8deg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* filter: blur(1px); */
}

.newCard {
  position: relative;
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: pink; */
}

::-webkit-scrollbar {
  display: none;
}

.col1 {
  /* background-color: green; */
  width: 37%;
  position: absolute;
  right: 60%;
  height: 100%;
}

.col2 {
  /* background-color: pink; */
  width: 37%;
  position: absolute;
  right: 22%;
  height: 100%;
}

.card {
  width: 280px;
  padding: 10px;
  height: 410px;

  border: 2px solid rgb(0%, 0%, 0%, 0.3);
  box-shadow: 0px 5px 10px 2px grey;

  background-color: white;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: black;
}

.top {
  background-color: white;
  width: 100%;
  height: 35px;
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: space-between;
  padding: 10px;
}

.profile {
  position: relative;
  top: -3px;
  font-size: 30px;
}

.profile h3 {
  color: black;
  z-index: 9;
  top: 2px;
  left: 35px;
  position: absolute;
  font-size: 20px;
}

.card img {
  background-color: white;
  position: relative;
  top: 10px;
  left: 4px;
  width: 250px;
  height: 280px;
  /* filter: grayscale(); */
}

.bottom {
  /* background-color: black; */
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin-top: 15px;
}

.upper {
  width: 100%;
  /* background-color: black; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.like {
  width: 100px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heart {
  margin-left: 14px;
  color: red;
}

.save {
  position: relative;
  right: 0px;
  color: black;
}

.text {
  color: black;
  font-size: 11px;
  position: relative;
  left: 10px;
}

.hash {
  position: absolute;
  right: 8px;
  font-weight: 800;
}

@media screen and (max-width: 1140px) {
  .left {
    top: 45%;
  }
}

@media screen and (max-width: 1520px) {
  .right {
    transform: skew(0deg);
    width: 60%;
  }
  .newCard {
    display: flex;
  }

  .col1,
  .col2 {
    display: none;
  }
}

.secondPageContext {
  display: none;
}

@media screen and (max-width: 900px) {
  .right {
    display: none;
    /* background-color: red; */
  }

  .left {
    position: absolute;
    display: flex;
    /* background-color: red; */
    /* justify-content: center; */
    width: 100%;
  }

  .part {
    /* background-color: aqua; */
    position: relative;
    /* height: 50%; */
    padding: 1vw;
  }

  .card {
    left: 25%;
  }

  .context {
    height: 100vh;
  }

  .left {
    top: 5%;
  }
}

@media screen and (max-width: 750px) {
  .logo p {
    font-size: 5vw;
  }

  .logo_lower {
    top: 0.8vh;
  }

  .part p .extra {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .secondPageContext {
    right: 0px;
    display: flex;
    position: relative;
  }
}

@media screen and (max-width: 750px) {
  .secondPageContext {
    top: -150px;
  }
}

@media screen and (max-width: 300px) {
  .secondPageContext {
    top: 10px;
  }
}
