* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.context {
  background-color: black;
  color: white;
  height: 150px;
  width: 100%;
  position: relative;
  z-index: 500;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
