* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");

.body {
  background-color: red;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.context {
  background-color: white;
  margin-top: 4.6%;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: scroll;
}

.head {
  /* background-color: rgb(185, 94, 94); */
  border-radius: 20px;
  color: black;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.below {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: pink; */
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}

.home,
.char,
.help {
  margin: 0px 10px 0px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.menuToggle {
  display: none;
}

.burgerMenu {
  color: rgb(0, 0, 0);
  font-size: 30px;
  /* background-color: pink; */
}

.leftBox {
  position: relative;
  left: 10px;
  height: 100%;
  width: 40%;
  /* background-color: aqua; */
  padding: 20px;
}

.image {
  /* background-color: rgb(107, 214, 61); */
  position: relative;
  /* top: -80px; */
  /* left: 48%; */
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}

.photu {
  display: flex;
  position: relative;
  width: 25vw;
  height: 75vh;
  /* background-color: rgb(231, 11, 172); */
}

.title {
  /* background-color: red; */
  color: black;
  margin: 20px 0px 20px 30px;
}

.title p {
  margin-bottom: 7px;
}

.title h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
}

.detail {
  /* background-color: red; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3vw;
  margin: 20px 0px 20px 20px;
  /* width: 40%; */
  padding: 10px;
}

.sirname {
  background-color: red;
  color: white;
  padding: 5px;
}

.right {
  /* background-color: rgb(216, 203, 17); */
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  /* left: 82.5%; */
  right: 0%;
  /* right: -30px; */
  width: 20%;
  height: 100%;
}

.link {
  padding: 8px;
  font-size: 23px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 200;
  cursor: pointer;
}

.link:hover {
  border-bottom: 2px solid black;
}

.head a {
  color: black;
}

@media screen and (max-width: 1050px) {
  .leftBox {
    width: 80%;
  }

  .right {
    display: none;
  }

  .menuToggle {
    display: flex;
  }

  .image {
    width: 100%;
  }

  .photu {
    width: 45vw;
  }
}

@media screen and (max-width: 700px) {
  .image {
    display: none;
  }

  .leftBox {
    width: 100%;
  }

  .leftBox .title h2 {
    font-size: 30px;
  }
}
