.context {
  position: absolute;
  background-color: rgb(255, 0, 0);
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.marvel_logo {
  width: 40%;
  height: 20%;
  position: relative;
  left: 30%;
  top: 10%;
}

.search_card {
  /* background-color: rgb(255, 255, 255); */
  width: 45%;
  height: 55%;
  top: 5%;
  position: relative;
  left: 30%;
  display: flex;
  flex-direction: column;
}

input {
  top: 15%;
  padding: 1.5%;
  border-radius: 100px;
  background-color: red;
  color: white;
  border: 2px solid white;
  width: 100%;
  left: 0%;
  position: relative;
}

.movies_box {
  background-color: red;
  height: 100vh;
  width: 100%;
}

.movies_list {
  top: 37%;
  width: 95%;
  left: 55px;
  background-color: rgb(255, 4, 4);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
}

.search_card > button {
  padding: 1.7%;
  position: relative;
  top: 5%;
  width: 80px;
  left: 88.5%;
  cursor: pointer;
  border: none;
  font-weight: 600;
  border-radius: 0px 100px 100px 0px;
}
