* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.body {
  /* background-color: rgb(255, 0, 0,0.9); */
  background-color: #ff0000;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: row;
  top: 65px;
  justify-content: center;
  align-items: center;
}

.context {
  width: 100%;
  top: 35%;
  position: relative;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: row;
}

.right {
  height: 50%;
  top: 8%;
  width: 100%;
  position: relative;
  left: 0%;
}

.right p {
  position: relative;
  color: white;
  margin-bottom: 20px;
  text-align: justify;
  width: 88%;
  margin-left: 6%;
  font-weight: 100;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.right h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.card {
  background-color: rgb(255, 255, 255);
  width: 28.5%;
  margin-left: 10px;
  height: 45%;
  display: inline-block;
  cursor: pointer;

  border: 2px solid grey;
  box-shadow: 2px 4px 15px 2px black;
}

.stanimg {
  padding: 0px;
  right: 10%;
  width: 113%;
  position: relative;
  top: -82%;
  /* left: -50px; */
  height: 170%;
  filter: opacity(0.9);
}

.para > .title {
  font-size: 80px;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
  -webkit-text-stroke: 0.5px rgb(4, 4, 4);
  text-shadow: 1px 2px black;
}

.pg18,
.hd {
  position: relative;
  left: 10px;
  top: 30px;
  margin-right: 10px;
  padding: 5px;
  height: 30px;
}

.pg18 {
  background-color: #fff;
  color: black;
  font-weight: 500;
  font-size: 17px;
}

.time {
  position: relative;
  left: -90px;
  top: 0px;
  font-weight: 800;
}

.clock {
  position: relative;
  top: 4px;
  margin-left: 10px;
}

.calender {
  position: relative;
  top: 3px;
}

.hd {
  border: 2px solid white;
  width: 50px;
  color: black;
  text-shadow: 1px 1px black;
}

.hd > p {
  font-weight: 900;
  position: relative;
  left: 4px;
  top: -1px;
}

.genre {
  position: relative;
  left: -112px;
  font-size: 20px;
}

.para > .title_movie {
  display: flex;
  position: relative;
  top: 8px;
  flex-direction: row;
}

.para > .title_detail {
  font-size: 20px;
  position: relative;
  left: 7px;
  top: 10px;
  font-weight: 600;
}

.para {
  width: 60%;
  height: 40%;
  z-index: 200;
  position: relative;
  font-family: "Times New Roman", Times, serif;
  top: 10%;
  left: -20%;
  color: rgb(255, 255, 255);
}

.btn_explore {
  z-index: 10000;
  position: relative;
  /* top: 105%; */
  top: 80%;
  left: -19.05%;
  height: 10%;
  width: 30vw;
  background-color: rgb(11, 11, 11);
  color: rgb(254, 254, 254);
  cursor: pointer;
  border: none;
}

.btn_explore:hover {
  background-color: rgb(172, 27, 27);
}

.text {
  position: relative;
  left: 0%;
  z-index: 200;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.text > span {
  color: rgb(255, 0, 0);
  font-weight: 1000;
  font-style: italic;

  font-family: "Times New Roman", Times, serif;
  font-size: 26px;
  -webkit-text-stroke: 0.6px rgb(255, 255, 255);
}

.who {
  font-size: 30px;
}

.sign {
  width: 70%;
  height: 90%;
  position: absolute;
  z-index: 500;
  left: 20%;
  top: -40%;
  background-color: transparent;
}

.search {
  position: absolute;
  top: 75%;
  z-index: 200;
  left: -24%;
  width: 60%;
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  background-color: transparent;
}

textarea:focus,
input:focus {
  outline: none;
}

.box {
  width: 135%;
  height: 120%;
  position: relative;
  top: 30%;
  left: -24%;
}

::placeholder {
  color: white;
}

.box p {
  position: absolute;
  top: 30%;
  float: right;
  left: -7%;
  width: 96%;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
  padding: 10px;
}

.section {
  top: 5%;
  background-color: black;
  width: 120%;
  position: relative;
  right: 16%;
  height: 800px;
  left: 10px;
}

.footer {
  background-color: #ffffff;
  width: 100%;
  position: relative;
  bottom: 10px;
  z-index: 500;
  height: 100px;
}

@media screen and (max-width: 350px) {
  .title_detail,
  .title_movie,
  .clock,
  .calender,
  .time,
  .genre,
  .hd,
  .pg18 {
    display: none;
  }

  .para .title{
    font-size: 60px;
  }

  .btn_explore {
    top: 50%;
  }
}

@media screen and (max-width: 250px) {
  .btn_explore{
    width: 110px;
  }
}

@media screen and (max-width: 1000px) {
  .calender,
  .time,
  .genre {
    display: none;
  }
}
